.cover {
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(./images/__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.cover__title {
  max-width: 560px;
  min-height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.cover__subtitle {
  color: #fff;
  max-width: 360px;
  min-height: 66px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px auto;
}

.cover__link {

}