.cover__subtitle {
  position: absolute;
  bottom: 245px;
  right: 460px;
  color: #fff;
  max-width: 360px;
  min-height: 66px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 32px auto;
  text-align: center;
  z-index: 3;
}