/* .lead__subtitle {
  max-width: 640px;
  min-height: 72px;
  font-style: normal;
  font-weight: 400; 
  font-size: 30px;
  line-height: 120%;
  color: #fff;
  text-align: center;
  margin: 32px auto 0;
} */