.cover__title {
  position: absolute;
  bottom: 343px;
  right: 360px;
  color: #fff;
  max-width: 560px;
  min-height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  text-align: center;
  z-index: 3;
  margin: 0;
}